<style type="text/css">
/*.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
    margin: 10px;
    margin-left: 0px;
}

.btn-outlined:hover,
.btn-outlined:active {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}*/

.audcolor {
    width: 300px;
}

label {
    font-weight: bold !important;
    text-transform: capitalize;
}

table th {
    text-transform: capitalize;
}
</style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 outerdivext">
    <div class="progress-indicator">
        <img src="img/2.gif" alt="Loading data..">
    </div>
    <div>
        <br/>
        <div id="divBoxed">
            <div class="row">
                <div class="">
                    <div>
                        <div class="checkbox" >
                            <label class="checkbox-inline" for="mySelect">Search image :- </label>
                            <input type="text"  ng-model='form.imageName' placeholder="Enter image name"/> 

                            <button  type="button" class="btn  btn-success" ng-click="btnsubmit()" >Search</button>
                        </div>
                        
                    </div>


                </div>
            </div>
           
        </div>
    </div>
</div>
